.products {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://img.freepik.com/vector-gratis/moda-accesorios-ropa-patrones-fisuras_1284-3636.jpg?w=2000");
    min-height: 720px;
    

    &-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content:center;
    align-items: center;
    padding: 30px;
    background-color: white;
    max-width: 20%;
    margin: 50px;
    border: 7px cadetblue double;  
    border-radius: 10px;
    }
    
    p {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    h3 {
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: cadetblue;
        width: 100%;
        height: 50px;
        font-weight:700;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    &-button {
        display:flex;
        gap: 10px;
        justify-content: center;

        button {
            color: cadetblue;
            border-color: cadetblue;
            background-color: cadetblue;
            color: white;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            max-width: 100px;
        }
    }
    
    
    
    
    img {
        width: 100%;
        height: 230px;
        object-fit:contain;
        
    
    }
}

