.products {

    display: flex;
    background-image: url("https://img.freepik.com/vector-gratis/moda-accesorios-ropa-patrones-fisuras_1284-3636.jpg?w=2000");
    min-height: 500px;
    padding: 40px;

    &-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content:center;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-left: 50px;
    border: 7px cadetblue double;  
    border-radius: 10px;
    max-width: 300px;
    img {
        width: 100%;
        height: 230px;
        object-fit:contain;
        
    
    }
    p {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    h3 {
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: cadetblue;
        width: 100%;
        height: 50px;
        font-weight:700;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
   
    }

    &-form {
        background-color: white;
        padding: 30px;
        border: 7px cadetblue double;  
        border-radius: 10px;
        height: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        div {
            margin-bottom: 5px;
            
            gap: 20px; 
            input {
                padding: 5px;
            }
        }
    }
}