.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content:center;
    padding: 30px;
    background-image: url("https://img.freepik.com/vector-gratis/moda-accesorios-ropa-patrones-fisuras_1284-3636.jpg?w=2000");
}
.product {
    width: 200px;
    border: 7px cadetblue double;  
    border-radius: 10px;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    text-align: center;
    align-content: center;

        h4 {
            color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: cadetblue;
            border-radius: 3px;
            width: 100%;
            height: 50px;
            font-weight:700;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        button {
            color: cadetblue;
            border-color: cadetblue;
            background-color: cadetblue;
            color: white;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
        }


        img {
            width: 100%;
            height: 230px;
            object-fit:contain;
            
        
        }
    
    

    
}